html{
    scroll-behavior: smooth;
}

/* Element Styling */

body{
    background-color: rgba(2, 29, 65, 0.952);
}

h1 {
    font-size: 50px;
    align-content: flex-start;
    background-color: chartreuse;
    
}
    

header {
    padding: 20px;
    color:rgba(0, 2, 5, 0.952);
    padding-top: 15px;
    margin-right: 20px;
    background-color:rgba(0, 128, 128, 0.452);
}

nav {
    font-size: 20px;
    padding: 15px 30px 15px 15px;
    text-align: right;
    justify-content: space-between;
}
nav a {
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
	font-size:25px; 
    text-decoration: underline;
    color: rgb(137, 95, 204);
    cursor: pointer;
    padding: 15px 30px 15px 15px;
  }
nav a:hover{
    color:yellowgreen;
}
p {
    font-size: 20px;
    color: lightblue;
    padding-bottom: 300px;
    
}

footer{
    text-align: center;
    font-size: 20px;
    color: cornflowerblue;
    padding: 100px;

}


/* Class Styling  */



.bottom{
   
    padding-bottom: 500px;
}

.boxes{
    float: left;
    width: 33.33%;
    padding: 10px;
    display: flex;
    margin: 10px;
    
}
.box-row {
    display: flex;
    justify-content: space-between;
}
.box-row2 {
    margin-left: 256px;
    display: flex;
    justify-content: space-between;
}
.box-head {
    background: rgb(220, 243, 250);
    opacity: 0.65;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 50px;
    
}
.box-row .box {
	width:49%;
	flex:unset;
}
.box-row2 .box {
    width: 49%;
    flex:unset;
}
.box {
	align-items: flex-end;
    height: 300px;
	display:flex;
    border: 5px solid black;
	background: url(/assets/images/FB_IMG_1579830819840.jpg) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box1 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0943.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
    margin-right: 10px;   
}
.box2 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0943.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box3 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0948.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
    margin-right: 10px;
}
.box4 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0951.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box1:hover {
    transform:scale(1.25)
}
.box2:hover {
    transform:scale(1.25)
}
.box3:hover {
    transform:scale(1.25)
}
.box4:hover {
    transform:scale(1.25)
}



.contact-heading h4 {
    margin: 0px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color:lightblue;
}
.contact-heading h4 {
    padding-left: 100px;
    border-right: 5px solid;
    margin-right: 20px;
    width: 190px; 
}
.row::after {
    content: "";
    clear: both;
    display: table; 
    
}

.row2 {
    align-self: flex-start;
}

.image{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
    
    padding: 10px;
    margin: 10px;
    
    background-color: rgb(0, 8, 0);
    border: 1px solid rgb(0, 225, 255);
    text-align: center;
    float: left;
    
}

img {
    border: solid 10px transparent;
}
img:hover {
    border-color: rgb(0, 128, 90);
}

.title {

    height: 210px;
    width: 200px;
    float: left;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 150px;
    font-size: 50px;
    border-right: solid 5px;
    margin-right: 40px;
    color: lightblue;
    flex-wrap: wrap;
}

.work {
    display:flex;

}

.work2 { padding-bottom: 500px;
    display:flex;
    margin-left: 254px;


}

/* ID Styling */

#info {
    font-size: 25px;
    color:lightblue;
    padding: 10px;
    border: 5px green;
    border-style: groove;
    display: inline-flex;
}

#box1, #box2, #box3, #box4 {
    border: solid 5px black;
}


    


/* Repsonsive-ness */


@media screen and (max-width: 900px) {
    body {
      background-color: rgb(1, 42, 53);  
    }
    nav a{
        color: rgb(1, 10, 10);
    }
    #contact{
        width: 100%;
    }

   
}