

/* Element Styling */

body{
margin: 0;
padding: 0;

}

h1 {
    font-size: 50px;
    
    
}
    

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    color:rgba(0, 2, 5, 0.952);
    background-color:rgba(0, 128, 128, 0.452);
}

nav {
    font-size: 20px;
    display: flex;
}
nav a {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3vw;
	font-size:20px; 
    text-decoration: none;
    color: #3f3f3f;
    

  }

nav a:hover{
    color:whitesmoke;
}

.container{
    padding:0 5vw;
    margin: 5vh 0;
}


.image{
    padding: 10px;
    margin: 10px;
    border: 3px solid rgba(0, 128, 128, 0.452 );
    float: left;
    border-radius: 50%;
}

img {
    border-radius: 50%;
    width: 250px;
    height: auto;    
}
.image:hover {
    
    border: 3px dotted rgba(0, 128, 128, 0.452 );

}

.about{
    display:flex;
    align-content: center;
    margin-bottom: 5vh;
}
.about article{
    display:flex;
    align-items: center;
}
p {
    font-size: 20px;
    color: #3f3f3f;
    width: 40vw;

    
}


footer{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   width: 100vw;
   margin-top: 5vh;

}
 
footer .title{
    grid-column: 2/3;
    grid-row: 1/3;
}

footer nav{
    grid-column: 3/12;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
}

footer span{
    grid-column: 3/12;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 3vh;
}

/* Class Styling  */



.bottom{
   
    padding-bottom: 500px;
}

.boxes{
    float: left;
    width: 33.33%;
    padding: 10px;
    display: flex;
    margin: 10px;
    
}
.box-row {
    display: flex;
    justify-content: space-between;
}
.box-row2 {
    margin-left: 256px;
    display: flex;
    justify-content: space-between;
}
.box-head {
    background: rgb(220, 243, 250);
    opacity: 0.65;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 50px;
    
}
.box-row .box {
	width:49%;
	flex:unset;
}
.box-row2 .box {
    width: 49%;
    flex:unset;
}
.box {
	align-items: flex-end;
    height: 300px;
	display:flex;
    border: 5px solid black;
	background: url(/assets/images/FB_IMG_1579830819840.jpg) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box1 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0943.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
    margin-right: 10px;   
}
.box2 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0943.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box3 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0948.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
    margin-right: 10px;
}
.box4 {
    align-items: flex-end;
	display:flex;
    border: 5px solid black;
	background: url(./images/Art/IMG_0951.JPG) center/cover no-repeat;
	flex:1;
	margin-bottom:10px;
}
.box1:hover {
    transform:scale(1.25)
}
.box2:hover {
    transform:scale(1.25)
}
.box3:hover {
    transform:scale(1.25)
}
.box4:hover {
    transform:scale(1.25)
}



.contact-heading h4 {
    margin: 0px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color:lightblue;
}
.contact-heading h4 {
    padding-left: 100px;
    border-right: 5px solid;
    margin-right: 20px;
    width: 190px; 
}
.row::after {
    content: "";
    clear: both;
    display: table; 
    
}

.row2 {
    align-self: flex-start;
}



.title {

    height: 210px;
    text-align: left;
    font-size: 50px;
    border-left: solid 5px;
    margin: 0 3vw;
    color: lightblue;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.work {
    display:flex;

}

.work2 { padding-bottom: 500px;
    display:flex;
    margin-left: 254px;


}

/* ID Styling */

#info {
    font-size: 25px;
    color:lightblue;
    padding: 10px;
    border: 5px green;
    border-style: groove;
    display: inline-flex;
}

#box1, #box2, #box3, #box4 {
    border: solid 5px black;
}


    


/* Repsonsive-ness */


@media screen and (max-width: 900px) {
    body {
      background-color: rgb(1, 42, 53);  
    }
    nav a{
        color: rgb(1, 10, 10);
    }
    #contact{
        width: 100%;
    }

   
}